.search__container {
  position: relative;
  .autocomplete {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    width: calc(100%);
    &__term {
      color: $color-grey-dark-2;
      cursor: pointer;
      font-size: 1.7rem;
      padding: 1rem 2rem;
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-3;
      }
      &:hover {
        background-color: $color-grey-light-1;
        color: $color-grey-dark-1;
      }
    }
  }
}
